h1{
  text-align: center;
  font-family: sans-serif;
  background-color: #e74c3c;
  margin: 0px
}
pre{
  text-align: center;
  color: white;
  margin: 0px;
  font-weight: bold;
}
.flatyellow{
  background-color: #f1c40f
}
.flatgreen{
  background-color: #2ecc71;
}
.flatblue{
  background-color: #3498db;
}
.flatpurple{
  background-color: #8e44ad;
}
.flatorange{
  background-color: #d35400;
}
